<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
<head>
    {{ partial "head.html" . }}
    <link href="/static/cdn/css/paged.interface.css" rel="stylesheet" type="text/css" />
    <!--
    -->
</head>
<body class="pagedjs td-{{ .Kind }}">
<div class="td-main">
    {{ block "main" . }}{{ end }}

    <div class="printPageBreakRight">
        <h1 id="pg-index" pagesection="index">Index</h1>
        <div id="book-index"></div>
    </div>

</div>
{{ partial "scripts.html" . }}
<script src="/static/cdn/js/paged.index.js"></script>
<script async src="/static/cdn/js/paged.polyfill.js"></script>
<script>
  window.PagedConfig = {
    before: function () {
      createIndex({
        spanClassIndex: "book-index",
        indexElement: "#book-index",
        alphabet: true,
      });
    },
  };
</script>
</body>
</html>
