{{- /*
    Take a format string and render a table showing the 16 bit 68K instruction
    with each bit or bits associated with specific parts of the instruction
    annotated.

*/ -}}

{{- /* Utility to render a simple table TODO to be moved out into a partial */ -}}
{{- define "m68klookuptable" -}}
<table class="memoryMap">
    <thead>
    <tr>
        <th>{{$.field}}</th><th colspan="7">Operation</th>
    </tr>
    </thead>
    <tbody>
    {{- range $k, $v := $ -}}
    {{- if ne $k "field" -}}
    <tr><td class="align-top">{{$k}}</td><td class="text-left align-top">{{$v}}</td></tr>
    {{- end -}}
    {{- end -}}
    </tbody>
</table>
{{- end -}}

{{- with .format -}}
{{- $scratch := newScratch -}}

{{- template "68k/block.html_start" "Format:" -}}

<table class="memoryMap4">
    <thead>
    <tr>
        <th>15</th><th>14</th><th>13</th><th>12</th><th>11</th><th>10</th><th>9</th><th>8</th>
        <th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th><th>0</th>
    </tr>
    </thead>
    <tbody>

    {{- /* First row, in most cases the only one */ -}}
    <tr>
        {{- range split . "" -}}
            {{- if eq . "0" -}}
                <td class="brtb" rowspan="2">0</td>
            {{- else if eq . "1" -}}
                <td class="brtb" rowspan="2">1</td>
            {{- else if eq . "d" -}}
                <td class="brtb green" rowspan="2" colspan="3">Register</td>
            {{- else if eq . "E" -}}
                <td class="brtb subTable" colspan="6">Effective Address</td>
            {{- else if eq . "M" -}}
                <td class="brtb orange" rowspan="2">R/M</td>
            {{- else if eq . "m" -}}
                <td class="brtb subTable" colspan="3">Op Mode</td>
            {{- else if eq . "R" -}}
                <td class="brtb green" rowspan="2" colspan="3">Rx</td>
            {{- else if eq . "r" -}}
                <td class="brtb green" rowspan="2" colspan="3">Ry</td>
            {{- else if eq . "S" -}}
                <td class="brtb blue" rowspan="2" colspan="2">Size</td>
            {{- else -}}
                <td class="brtb orange" rowspan="2">{{.}}</td>
            {{- end -}}
            {{- $scratch.Set . 1 -}}
        {{- end -}}
    </tr>

    {{- /* Second row, only for entries that need a second row */ -}}
    <tr>
        {{- range split . "" -}}
            {{- if eq . "E" -}}
                <td class="brtb orange" colspan="3">Mode</td>
                <td class="brtb green" colspan="3">Register</td>
            {{- else if eq . "m" -}}
                <td class="brtb orange">Dir</td>
                <td class="brtb blue" colspan="2">Size</td>
            {{- end -}}
        {{- end -}}
    </tr>
    </tbody>
</table>

{{- with $scratch.Get "R" -}}
<p>
    <strong>Rx</strong> the source register.
</p>
{{- end -}}

{{- with $scratch.Get "r" -}}
<p>
    <strong>Ry</strong> the destination register.
</p>
{{- end -}}

{{- with $scratch.Get "M" -}}
<p>
    <strong>R/M</strong> Specifies the operand addressing mode:
    {{- template "m68klookuptable" (dict "field" "R/M" "0" "Uses data registers" "1" "Uses address registers or memory") -}}
</p>
{{- end -}}

{{- with $scratch.Get "m" -}}
<p>
    <strong>Op Mode</strong>:
    {{- template "m68klookuptable" (dict "field" "Dir" "0" "\\( ea + D_n \\longrightarrow D_n \\)" "1" "\\( D_n + ea \\longrightarrow ea \\)") -}}
    {{- template "m68klookuptable" (dict "field" "Size" "00" "Byte" "01" "Word" "10" "Long") -}}
</p>
{{- end -}}

{{- with $scratch.Get "S" -}}
<p>
    <strong>Size</strong> the size of the operation:
    {{- template "m68klookuptable" (dict "field" "Size" "00" "Byte" "01" "Word" "10" "Long") -}}
</p>
{{- end -}}

{{- template "68k/block.html_end" -}}
{{- end -}}
