---
type: "_default"
title: Docker
---

{{< blocks/cover title="Docker" image_anchor="bottom" height="min" >}}
<p class="lead mt-1">
Notes & utilities for running Docker &amp; building images.
</p>
{{< /blocks/cover >}}

{{< blocks/section >}}
{{% blocks/feature icon="fab fa-docker" title="docker-mirror" url="/docker/docker-mirror/" colour="bg-success" %}}
<p>
    Our docker-mirror tool used to mirror images between docker repositories
</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-docker" title="builds" url="/docker/build/" colour="bg-success" %}}
<p>
    Notes on building docker containers efficiently
</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}
