// The outer page container i.e. common styles for any page.
.td-outer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

// The outer page container for the default base template.
.td-default {

    main {
        > section:first-of-type {
            @include media-breakpoint-up(md) {
                /*padding-top: 8rem;*/
            }
        }

        section {
            @extend .td-block-padding;
        }
    }
}

.td-main {
    flex-grow: 1;

    main {
        @include media-breakpoint-up(md) {
            padding-top: 4rem;
            //padding-left: 0.5rem !important;
          }

/*
        padding-bottom: 2rem;
*/

      @media (max-width: 768px) {
        position: relative;
        max-width: 100% !important;
        min-width: 100% !important;
        margin-bottom: 3em;
        z-index: 1;
      }

      @media (min-width: 768px) {
        position: relative;
        padding-left: calc(0.5em + 25%) !important;
        max-width: 100% !important;
        min-width: 100% !important;
        margin-bottom: 3em;
        z-index: 1;
      }

      @media (min-width: 1200px) {
        position: relative;
        padding-left: 16rem !important;
        max-width: 100% !important;
        min-width: 100% !important;
        margin-bottom: 3em;
        z-index: 1;
      }

    }
}
