{{ $tpl := printf "print/content-%s.html" .Page.Type }}

{{ if templates.Exists (printf "partials/%s" $tpl) }}
  {{ partial $tpl . }}
{{ else -}}
{{ $break := cond .DoPageBreak "page-break-before: always" "" -}}
<div class="td-content-new" style="{{ $break }}">
    {{ $break := cond .DoPageBreak "page-break-before: always" "" }}
	<h1 id="pg-{{ .Page.File.UniqueID }}">{{ .PageNum }} - {{ .Page.Title }}</h1>
    {{ with .Page.Params.description }}<div class="lead">{{ . | markdownify }}</div>{{ end }}
    {{- partial "bbc/api.html" .Page -}}
    {{- partial "bbc/osbyte.html" .Page -}}
    {{- partial "bbc/osword.html" .Page -}}
    {{- partial "6502/memorymap.html" .Page -}}
	{{ .Page.Content }}
    {{- partial "6502/opcode.html" .Page -}}
    {{- partial "6502/hexMap.html" .Page -}}
</div>
{{ end }}
