{{/* Use the title and description of the first page to begin the document */}}
{{- if isset .Page.Params "book" -}}
<bookMeta id="bookMeta">
    <title>
        {{- if isset .Page.Params.book "title" -}}
        {{ .Page.Params.book.title }}
        {{- else -}}
        {{ .Page.Params.title }}
        {{- end -}}
    </title>
    {{with .Page.Params.book.subTitle }}<subtitle>{{ . }}</subtitle>{{ end }}
    {{ with .Page.Params.book.author }}<author>{{ . }}</author>{{ end }}
    {{ with .Page.Params.book.subAuthor }}<subAuthor>{{ . }}</subAuthor>{{ end }}
    {{/* if isset  .Page.Params.book "image" }}<cover>{{.Page.Params.book.image}}</cover>{{ end */}}
    {{ with .Page.Params.book.copyright }}<license>{{ . }}</license>{{ end }}

    {{ with .Page.Params.book.isbn }}<isbn>{{ . }}</isbn>{{ end }}
    {{ with .Page.Params.book.publisher }}<publisher>{{ . }}</publisher>{{ end }}
    {{ with .Page.Params.book.edition }}<edition>{{ . }}</edition>{{ end }}
    {{ with .Page.Params.book.dedicate }}<dedicate>{{ . }}</dedicate>{{ end }}
    {{ with .Page.Params.book.thank }}<thank>{{ . }}</thank>{{ end }}
    {{ with .Page.Params.book.keywords }}<keywords>{{ . }}</keywords>{{ end }}
</bookMeta>

{{- else -}}

<h1 class="title">{{ .Title }}</h1>
{{- with .Page.Params.description -}}
<div class="lead">{{ . | markdownify }}</div>
{{- end -}}

{{- end -}}
