<div style="page-break-after:always;">
    {{- if isset .Page.Params "book" -}}
    <h1 style="font-weight: bolder;">
        {{- if isset .Page.Params.book "title" -}}
        {{ .Page.Params.book.title }}
        {{- else -}}
        {{ .Page.Params.title }}
        {{- end -}}
    </h1>
    <p>{{ with .Page.Params.book.subTitle }}{{ . }}{{ end }}</p>
    {{- else -}}

    <h1 class="title">{{ .Title }}</h1>
    {{- with .Page.Params.description -}}
    <div class="lead">{{ . | markdownify }}</div>
    {{- end -}}

    {{- end -}}

    {{- with .Page.Params.book -}}
    <table>
        <tbody>
        {{- with .title -}}
        <tr><th>Title</th><td>{{ . }}</td></tr>
        {{- end -}}
        {{- with .subTitle -}}
        <tr><th>Subtitle</th><td>{{ . }}</td></tr>
        {{- end -}}
        {{- with .author -}}
        <tr><th>Author</th><td>{{ . }}</td></tr>
        {{- end -}}
        {{- with .subAuthor -}}
        <tr><th></th><td>{{ . }}</td></tr>
        {{- end -}}
        {{- with .copyright -}}
        <tr><th>Copyright</th><td>{{ . }}</td></tr>
        {{- end -}}
        </tbody>
    </table>
    {{- end -}}

    <h1 style="margin-top: 2em;">CC BY-SA version 4.0 license</h1>

    <h2>You are free to:</h2>
    <ol>
        <li><strong>Share</strong> — copy and redistribute the material in any medium or format</li>
        <li><strong>Adapt</strong> — remix, transform, and build upon the material or any purpose, even commercially.
        </li>
    </ol>

    <p>This license is acceptable for Free Cultural Works.</p>
    <p>The licensor cannot revoke these freedoms as long as you follow the license terms.</p>

    <h2>Under the following terms:</h2>
    <ol>
        <li><strong>Attribution</strong> — You must give appropriate credit, provide a link to the license, and indicate
            if
            changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor
            endorses you or your use.
        </li>
        <li><strong>ShareAlike</strong> — If you remix, transform, or build upon the material, you must distribute your
            contributions under the same license as the original.
        </li>
        <li><strong>No additional restrictions</strong> — You may not apply legal terms or technological measures that
            legally restrict others from doing anything the license permits.
        </li>
    </ol>

    <h2>Notices:</h2>

    <p>You do not have to comply with the license for elements of the material in the public domain or where your use is
        permitted by an applicable exception or limitation.</p>
    <p>No warranties are given. The license may not give you all of the permissions necessary for your intended use. For
        example, other rights such as publicity, privacy, or moral rights may limit how you use the material.</p>

    <p>
        You can read the full license here: <a href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>
    </p>
</div>
