---
type: "_default"
title: Linux
---

{{< blocks/cover title="Linux" image_anchor="bottom" height="min" >}}
<p class="lead mt-1">
</p>
{{< /blocks/cover >}}

{{< blocks/section >}}
{{% blocks/feature icon="far fa-envelope" title="Email Servers and admin" url="/linux/email/" colour="bg-success" %}}
<p>
    Notes on running and administrating email severs
</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-linux" title="Setup local package mirror" url="/linux/nexus/" colour="bg-success" %}}
<p>
    Setting up a local package mirror
</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-linux" title="Shell Scripting" url="/linux/scripting/" colour="bg-success" %}}
<p>
    Notes on how to perform specific tasks within shell scripts
</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}
