# Reference files
generated
reference
*.xlsx
*.pdf
static/static/book
static/static/chipref

node_modules
/resources/_gen/

# vim temporary files
*~
*.sw?

# system files
.DS_Store

# IDE files
.idea
.vscode
/go_build_newsite_main_go
build-toolset.sh
run-toolset.sh
public
publish-deploy-uat.sh
/static/static/gen/


3d
/dist/
/builds/
/build
/platforms.md
/Makefile.gen
