# Reference files
generated
reference
*.xlsx
*.pdf

/resources/_gen/

# vim temporary files
*~
*.sw?

# system files
.DS_Store

# IDE files
.idea
.vscode
/go_build_newsite_main_go
build-toolset.sh
public
publish-deploy-uat.sh
