{{- if isset .Params "api" -}}
{{- $hasIndirect := 0 -}}
{{- range $.Params.api -}}
{{- with .indirect}}{{$hasIndirect =1}}{{end -}}
{{- end -}}
<table class="table table-striped table-hover table-sm table-borderless">
    <thead>
    <tr>
        <th scope="col">Function</th>
        <th scope="col">Address</th>
        {{- if $hasIndirect}}<th scope="col">Vector</th>{{end -}}
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    {{- range $.Params.api -}}
    <tr>
        <td>{{.name}}</td>
        <td>{{.addr}}</td>
        {{- if $hasIndirect}}<td>{{.indirect}}</td>{{end -}}
        <td>{{.title}}</td>
    </tr>
    {{- end -}}
    </tbody>
</table>
{{- end -}}
