---
type: "_default"
title: "Sinclair Spectrum"
linkTitle: "Sinclair Spectrum"
---

{{< blocks/cover title="Sinclair Spectrum" image_anchor="smart" height="min" >}}
<p class="lead mt-1">
    Documentation for the Sinclair Spectrum
</p>
{{< blocks/link-down color="info" >}}

{{< /blocks/cover >}}

{{< blocks/section >}}

{{% blocks/feature img="static/static/svg/spectrumIcon.svg" title="Sinclair Spectrum OS & Memory" url="/sinclair/spectrum/" %}}
<p>
    The Sinclair Spectrum Operating System &amp; Memory Map
</p>
{{% /blocks/feature %}}

{{% blocks/feature icon=fa-code" title="Machine Code Examples" url="/sinclair/asm/" %}}
<p>
    Machine code examples for the Sinclair ZX Spectrum
</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}
