---
title: "Area51"
linkTitle: "Area51"
---

{{< blocks/cover title="Welcome to Project Area51" byline="A collection of Open Source projects, publications, videos & services" image_anchor="top" height="normal" color="orange" >}}
<div class="mx-auto">
    <a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
    Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
    </a>
    <a class="btn btn-lg btn-success mr-3 mb-4" href="https://map.lu/">
        Maps <i class="fa fa-map ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/peter-mount/">
        GitHub <i class="fab fa-github ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-success mr-3 mb-4" href="https://hub.docker.com/u/area51">
        Docker <i class="fab fa-docker ml-2 "></i>
    </a>
    <a class="btn btn-lg btn-success mr-3 mb-4" href="https://www.youtube.com/channel/UCEJAEM7GYx15tUo3FMSweDg">
        YouTube <i class="fab fa-youtube ml-2 "></i>
    </a>
    <p class="lead mt-5">A collection of Open Sourced projects, publications, videos & services</p>
    <p>supporting both modern day systems and those made over the last 40 years</p>
    {{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Project Area51 consists of a series of Open Source projects covering many topics, documentation, publications, videos,
3D printing and live services using open data.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="New site!" %}}
The new website is here.

The various sections of the site are still being worked on so are not yet complete.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="/docs/contribution-guidelines/" %}}
You can now contribute to the documentation on this site.
Simply follow the [Contribution Guidelines](/docs/contribution-guidelines/), make a Pull Request on **GitHub**.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Join the Community!" url="/community/" %}}
For announcements of latest features, datasets & documentation.
{{% /blocks/feature %}}


{{< /blocks/section >}}
