---
type: "_default"
title: "GO & related projects"
linkTitle: "GO"
---

{{< blocks/cover title="GO Language & related projects" image_anchor="smart" height="min" >}}

{{< /blocks/cover >}}

{{< blocks/section >}}

{{% blocks/feature img="static/static/svg/goGopherIcon.svg" title="Go Kernel" url="/go/go-kernel" pdf="/static/book/go-kernel.pdf" %}}
Our own microkernel for go, used as the base of most of our projects
{{% /blocks/feature %}}

{{% blocks/feature img="static/static/svg/goGopherIcon.svg" title="Go Script" url="/go/go-script"  %}}
Extensible scripting language for go based applications
{{% /blocks/feature %}}

{{< /blocks/section >}}
