<table class="memoryMap3">
    <thead>
    <tr>
        <th colspan="2">ROM</th>
        <th rowspan="2" colspan="1">Application</th>
        <th rowspan="2" colspan="6">Location</th>
    </tr>
    <tr>
        <th>Dec</th>
        <th>Hex</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>15</td><td>F</td><td>TERMINAL 01</td><td rowspan="7">MOS ROM</td></tr>
    <tr><td>14</td><td>E</td><td>VIEW 04</td></tr>
    <tr><td>13</td><td>D</td><td>Acorn ADFS 50</td></tr>
    <tr><td>12</td><td>C</td><td>BASIC 04</td></tr>
    <tr><td>11</td><td>B</td><td>Edit 01</td></tr>
    <tr><td>10</td><td>A</td><td>ViewSheet 02</td></tr>
    <tr><td colspan="2">9</td><td>DFS 79</td></tr>
    <tr><td colspan="2">8</td><td>?</td><td>IC27 Internal socket</td></tr>
    <tr><td colspan="2">7</td><td>?</td><td rowspan="2">RAM or IC37</td></tr>
    <tr><td colspan="2">6</td><td>?</td></tr>
    <tr><td colspan="2">5</td><td>?</td><td rowspan="2">RAM or IC41</td></tr>
    <tr><td colspan="2">4</td><td>?</td></tr>
    <tr><td colspan="2">3</td><td>?</td><td rowspan="2">SK4 Front Cartridge Slot</td></tr>
    <tr><td colspan="2">2</td><td>?</td></tr>
    <tr><td colspan="2">1</td><td>?</td><td rowspan="2">SK3 Rear Cartridge Slot</td></tr>
    <tr><td colspan="2">0</td><td>?</td></tr>
    </tbody>
</table>
