// ARM tables

@media screen {
  table.arm {
    tr {
      th, td {
        font-size: 75%;
      }
    }
  }
}

@media print {
  table.arm {
    tr {
      th, td {
        font-size: 50%;
      }
    }
  }
}

table.arm {
  tr {
    th, td {
      text-align: center;
      border-top: 1px solid grey;
      border-left: 1px solid grey;
      border-bottom: 1px solid grey;
      border-right: 1px solid grey;
    }

    tr:first-child th:first-child,
    tr:first-child th:last-child,
    tr:last-child th,
    th {
      width: 1em !important;
      padding-left: 0.5em;
      padding-right: 0.5em;
    }
    th:last-child,
    td:last-child {
      border: 0 !important;
      white-space: nowrap !important;
      text-align: left !important;
    }
  }
}
