
.svgRune {
    width: 1em;
    height: 1em;
    svg {
    display: inline-block;
        color: currentColor;
        fill: currentColor;
        width: inherit;
        height: inherit;
    }
}

.printPageBreakAvoid {
    break-inside: avoid
}

.sourceCode {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 80%;
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto;
    white-space: pre;
}
