
.svgRune {
    width: 1em;
    height: 1em;
    svg {
    display: inline-block;
        color: currentColor;
        fill: currentColor;
        width: inherit;
        height: inherit;
    }
}

.sourceCode {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 80%;
    display: block;
    margin-top: 0;
    margin-bottom: 1em;
    overflow: auto;
    white-space: pre;
}

.copyrightPage {
    font-size: 70%;
    h1 {
        font-size: 140%;
        font-weight: bold;
    }
    h2 {
        font-size: 100%;
        font-weight: bold;
    }
}
