// Tables
table.truth {
    border: 1px solid black;
    width: 100%;

    thead {
        border-bottom: 1px solid black;
        th {
            text-align: center;
        }
        th:last-child {
            border-left: 1px solid black;
        }
    }

    tbody {
        td {
            text-align: center;
        }
        td:last-child {
            border-left: 1px solid black;
        }
    }

    .sep {
        border-left: 1px solid black;
    }
}

table.generic {
    th {
        text-align: center;
    }
    th, td {
        vertical-align: top;
    }
    .sep {
        border-left: 1px solid black;
    }
}

table.memory {
    border: 1px solid lightgrey;
    width: 100%;

    table {
        border: 1px solid lightgrey;
        margin: 0.5em;
        width: calc(100% - 1em);

        td {
            padding-left: 0.25em;
            padding-right: 0.25em;
        }
        td:first-child {
            white-space: nowrap;
        }
        td:not(:first-child) {
            width: 100%;
        }
    }

    tr {
        border-bottom: 1px solid lightgrey;
    }

    th {
        text-align: left;
    }

    th, td {
        vertical-align: top;
    }

    th:first-child, td:first-child {
        width: 5em;
    }

    th:not(:last-child), td:not(:last-child) {
        vertical-align: top;
        border-right: 1px solid lightgrey;
    }

    td.offset {
        text-align: right;
        font-style: italic;
    }
    td div.note {
        font-style: italic;
    }
}

table.chipPin {
    border: 1px solid black;
    width: 100%;

    thead {
        border-bottom: 1px solid black;
        th {
            text-align: center;
            vertical-align: bottom;
            border-left: 1px solid black;
        }
    }

    th, td {
        vertical-align: top;
    }
    td:first-child,
    td:nth-child(2),
    td:nth-child(3) {
        text-align: center;
    }
    td:nth-child(2),
    td:nth-child(3),
    td:nth-child(4) {
        border-left: 1px solid black;
    }
}

.not {
    text-decoration: overline;
}

th.nowrap,
td.nowrap {
    white-space: nowrap;
}

table.hexGrid {
    display: block;
    overflow-x: auto;
    margin-bottom: 1em;
    break-inside: avoid;

    caption {
        caption-side: top;
    }

    // All cells have border & centered
    th, td {
        border-right: 1px solid grey;
        border-bottom: 1px solid grey;
        text-align: center;
    }

    // Top border
    tr:first-child th {
        border-top: 1px solid grey;
    }

    // Left border on first column
    th:first-child {
        border-left: 1px solid grey;
    }

    // Unused op code shows with a background TODO do we need this?
    td.unused {
      background: #ccc;
    }

    td.legend {
        border-top: 1px solid grey;
        border-left: 1px solid grey;

        div {
            width: 15em;
        }
    }

    td {
        font-size: 75%;

        div {
            position: relative;
            width: 4.6em;
            height: 2.5em;

            span {
                position: absolute;
                font-size: 70%;
                line-height: 1em;
            }

            span.op {
                left: 0;
                top: 0.25em;
                right: 0;
                text-align: center;
            }

            span.code {
                left: 0;
                bottom: 0;
                right: 0;
                text-align: center;
            }

            span.size {
                left: 0.25em;
                bottom: 0;
                text-align: left;
            }

            span.cycles {
                right: 0.25em;
                bottom: 0;
                text-align: right;
            }
        }
    }
}

table.resources {
  width: 100%;

  thead {
    border-bottom: 1px solid black;
  }

  th:last-child, td:last-child {
    text-align: right;
  }

  tbody {
    tr {
      border-bottom: 1px solid #eee;
    }
  }
}

.sectionIndex {
    padding-top: 0.25em;
    padding-bottom: 0.5em;

    h4 {
        border-bottom: 1px solid black;
    }
    table {
        th {
            text-align: left;
        }
        th, td {
            vertical-align: top;
        }
        td {
            padding-left: 0.25em;
        }
    }
}
