{{- if eq . "abs" }}Absolute{{ end -}}
{{- if eq . "absi" }}Absolute Indirect{{ end -}}
{{- if eq . "absii" }}Absolute Indexed Indirect{{ end -}}
{{- if eq . "absix" }}Absolute Indexed X{{ end -}}
{{- if eq . "absiy" }}Absolute Indexed Y{{ end -}}
{{- if eq . "abslix" }}Absolute Long Indexed X{{ end -}}
{{- if eq . "absl" }}Absolute Long{{ end -}}
{{- if eq . "absil" }}Absolute Indirect Long{{ end -}}
{{- if eq . "acc" }}Accumulator{{ end -}}
{{- if eq . "bm" }}Block Move{{ end -}}
{{- if eq . "dp" }}Direct Page{{ end -}}
{{- if eq . "dpi" }}Direct Page Indirect{{ end -}}
{{- if eq . "dpil" }}Direct Page Indirect Long{{ end -}}
{{- if eq . "dpix" }}Direct Page Indexed X{{ end -}}
{{- if eq . "dpiix" }}Direct Page Indexed Indirect X{{ end -}}
{{- if eq . "dpiy" }}Direct Page Indexed Y{{ end -}}
{{- if eq . "dpiiy" }}Direct Page Indirect Indexed Y{{ end -}}
{{- if eq . "dpiliy" }}Direct Page Indirect Long Indexed Y{{ end -}}
{{- if eq . "imm" }}Immediate{{ end -}}
{{- if eq . "imp" }}Implied{{ end -}}
{{- if eq . "pcr" }}Program Counter Relative{{ end -}}
{{- if eq . "pcrl" }}Program Counter Relative Long{{ end -}}
{{- if eq . "si" }}Stack Interrupt{{ end -}}
{{- if eq . "sic" }}Stack Interrupt{{ end -}}
{{- if eq . "sr" }}Stack Relative{{ end -}}
{{- if eq . "sriiy" }}Stack Relative Indirect Indexed Y{{ end -}}
