{{- $m := .Params.flags -}}
{{- $s := newScratch -}}
{{- $proc := "6502" }}{{with $.Params.cpu}}{{ $proc = . }}{{end -}}
{{- if eq $proc "z80" -}}
{{- /* Z80 flags upper case */ -}}
{{- if isset $m "s" }}{{ $s.Set "7" "s" }}{{end -}}
{{- if isset $m "z" }}{{ $s.Set "6" "z" }}{{end -}}
{{- if isset $m "h" }}{{ $s.Set "4" "h" }}{{end -}}
{{- if isset $m "p/v" }}{{ $s.Set "2" "p/v" }}{{end -}}
{{- if isset $m "n" }}{{ $s.Set "1" "n" }}{{end -}}
{{- if isset $m "c" }}{{ $s.Set "0" "c" }}{{end -}}
{{- else -}}
{{- /* 6502 flags lower case */ -}}
{{- if isset $m "n" }}{{ $s.Set "7" "n" }}{{end -}}
{{- if isset $m "v" }}{{ $s.Set "6" "v" }}{{end -}}
{{- if isset $m "m" }}{{ $s.Set "5" "m" }}{{end -}}
{{- if isset $m "b" }}{{ $s.Set "4" "b" }}{{end -}}
{{- if isset $m "x" }}{{ $s.Set "4" "x" }}{{end -}}
{{- if isset $m "d" }}{{ $s.Set "3" "d" }}{{end -}}
{{- if isset $m "i" }}{{ $s.Set "2" "i" }}{{end -}}
{{- if isset $m "z" }}{{ $s.Set "1" "z" }}{{end -}}
{{- if isset $m "c" }}{{ $s.Set "0" "c" }}{{end -}}
{{- end -}}

<div class="printPageBreakAvoid mt-1 mb-3">
    <h5>Flags&nbsp;Affected</h5>
    <table class="processorFlags">
        <tbody>
        {{- if eq 0 ($s.Values | len) -}}
        <tr><td>None.</td></tr>
        {{- else -}}
            <tr><th>Flags</th><td><table><tbody><tr>
                {{- range $idx := seq 7 0}}{{$i := printf "%d" $idx -}}
                    {{- with $s.Get $i -}}
                        <td class="brtb blue"><strong>{{printf "%s" .}}</strong>
                    {{- else -}}
                        <td class="brtb">-</td>
                    {{- end -}}
                {{- end -}}
            </tr></tbody></table></td></tr>
            {{- range $idx := seq 7 0}}{{$i := printf "%d" $idx -}}
                {{- with $s.Get $i }}<tr><th>{{.|lower}}</th><td>
                    {{- $l := index $m . -}}
                    {{- range $i, $v := split $l "\n" -}}
                        {{- if ne $i 0 }}<br/>{{end -}}
                        {{- $v -}}
                    {{- end -}}
                    </td></tr>
                {{- end -}}
            {{- end -}}
        {{- end -}}
        </tbody>
    </table>
</div>
