{{- if isset .Params "hexgrid" -}}

{{- /* dict holding which colours are in use so legend becomes dynamic */ -}}
{{- $colours := dict -}}
{{- range $prefix, $grid := $.Params.hexgrid -}}
    {{- range $h, $r := $grid -}}
        {{- range $l, $c := $r -}}
            {{- /* Store cell colour so we can restrict the legend to whats visible */ -}}
            {{- $col := "" -}}
            {{- if ne $c.label "" -}}
                {{- $col = $c.colour -}}
            {{- end -}}
            {{- $d := dict $col 1 -}}
            {{- $colours = merge $colours $d -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- range $prefix, $grid := $.Params.hexgrid -}}
<div class="row">
    <table class="hexGrid">
        {{- if ne $prefix "00" -}}
        <caption>Opcodes with prefix {{ $prefix }}</caption>
        {{- end -}}
        <thead>
        <tr>
            <th></th>
            {{- range seq 0 15 -}}
            <th>{{ printf "%X" . }}</th>
            {{- end -}}
        </tr>
        </thead>
        <tbody>
        {{- range $h, $r := $grid -}}
        <tr>
            <th>{{ printf "%X" $h }}</th>
            {{- range $l, $c := $r -}}
            {{- if ne $c.label "" -}}

            <td class="{{$c.colour}}">
                <div>
                    <span class="op">{{- partial "6502/instruction.html" (dict "op" $c.label "mode" $c.addressing) -}}</span>
                    {{- with $c.op }}<span class="code">{{.}}</span>{{ end -}}
                    {{- with $c.size }}<span class="size">{{.}}</span>{{ end -}}
                    {{- with $c.cycles }}<span class="cycles">{{.}}</span>{{ end -}}
                </div>
            </td>
            {{- else -}}
            <td class="unused">
                <div></div>
            </td>
            {{- end -}}
            {{- end -}}
        </tr>
        </tbody>
        {{- end -}}
    </table>
</div>

{{- if eq $prefix "00" -}}{{ partial "6502/opcodeLegend.html" $colours }}{{- end -}}

{{- end -}}
{{- end -}}
