{{- $colours := . -}}
<table class="memoryMap2">
    <caption>Opcode Matrix Legend</caption>
    <tbody>
    <tr>
        <td class="legend">
            <div>
                {{- if index $colours "op" -}}
                <span class="op">Instruction</em></span>
                <span class="code">Opcode hex</span>
                {{- else -}}
                Opcode hex
                {{- end -}}
                {{- if index $colours "size" -}}<span class="size">Size bytes</span>{{- end -}}

                {{- if index $colours "cycles" -}}<span class="cycles">Cycle count</span>{{- end -}}
            </div>
        </td>

        {{- if index $colours "green" -}}<td class="bnone">&nbsp;</td><td class="green blrtb">Register</td>{{- end -}}

        {{- if index $colours "yellow" -}}<td class="bnone">&nbsp;</td><td class="yellow blrtb">Memory</td>{{- end -}}

        {{- if index $colours "blue" -}}<td class="bnone">&nbsp;</td><td class="blue blrtb">Implicit</td>{{- end -}}

        {{- if index $colours "orange" -}}<td class="bnone">&nbsp;</td><td class="orange blrtb">Math</td>{{- end -}}

        {{- if index $colours "darkgreen" -}}<td class="bnone">&nbsp;</td><td class="darkgreen blrtb">Logic</td>{{- end -}}

        {{- if index $colours "darkblue" -}}<td class="bnone">&nbsp;</td><td class="darkblue blrtb">Flow</td>{{- end -}}

        {{- if index $colours "red" -}}<td class="bnone">&nbsp;</td><td class="red blrtb">Interrupt</td>{{- end -}}

        {{- if index $colours "grey" -}}<td class="bnone">&nbsp;</td><td class="grey blrtb">Special</td>{{- end -}}

        {{- if index $colours "brown" -}}<td class="bnone">&nbsp;</td><td class="brown blrtb">Extension</td>{{- end -}}

        {{- if index $colours "" -}}<td class="bnone">&nbsp;</td><td class="unused blrtb">Undefined</td>{{- end -}}

        {{- if index $colours "undocumented" -}}<td class="bnone">&nbsp;</td><td class="undocumented blrtb">Undocumented</td>{{- end -}}

    </tr>
    </tbody>
</table>
