{{- $colours := . -}}
<table class="memoryMap2">
    <caption>Opcode Matrix Legend</caption>
    <tbody>
    <tr>
        <td class="legend">
            <div>
                <span class="op">Opcode <em>Address mode</em></span>
                <span class="code">Opcode hex</span>
                <span class="size">Size bytes</span>
                <span class="cycles">Cycle count</span>
            </div>
        </td>

        {{- if index $colours "green" -}}<td class="bnone">&nbsp;</td><td class="green blrtb">Register</td>{{- end -}}

        {{- if index $colours "yellow" -}}<td class="bnone">&nbsp;</td><td class="yellow blrtb">Memory</td>{{- end -}}

        {{- if index $colours "blue" -}}<td class="bnone">&nbsp;</td><td class="blue blrtb">Implicit</td>{{- end -}}

        {{- if index $colours "orange" -}}<td class="bnone">&nbsp;</td><td class="orange blrtb">Math</td>{{- end -}}

        {{- if index $colours "darkgreen" -}}<td class="bnone">&nbsp;</td><td class="darkgreen blrtb">Logic</td>{{- end -}}

        {{- if index $colours "darkblue" -}}<td class="bnone">&nbsp;</td><td class="darkblue blrtb">Flow</td>{{- end -}}

        {{- if index $colours "red" -}}<td class="bnone">&nbsp;</td><td class="red blrtb">Interrupt</td>{{- end -}}

        {{- if index $colours "grey" -}}<td class="bnone">&nbsp;</td><td class="grey blrtb">Special</td>{{- end -}}

        {{- if index $colours "" -}}<td class="bnone">&nbsp;</td><td class="unused blrtb">Undefined</td>{{- end -}}

    </tr>
    </tbody>
</table>
