{{- if isset .Params "flags" }}{{ partial "6502/flags.html" .Params.flags }}{{end -}}
{{- if isset .Params "hide_codes" -}}{{- else -}}
{{- if isset .Params "codes" -}}
{{- $opcode := $.Params.codes -}}
{{- if isset .Params "code_axis" | not -}}
{{- if isset .Params "notitle" | not -}}
<div class="printPageBreakAvoid">
    <h3>Instructions</h3>
    {{- end -}}
    <table class="table table-striped table-hover table-sm table-borderless">
        <thead>
        <tr>
            {{- if isset .Params "src" -}}
            <th scope="col" rowspan="2">{{.Params.src}}</th>
            {{- end -}}
            {{- if isset .Params "dest" -}}
            <th scope="col" rowspan="2">{{.Params.dest}}</th>
            {{- end -}}
            <th scope="col" rowspan="2">Syntax</th>
            {{- if isset .Params "alt" -}}
            <th scope="col" rowspan="2">{{.Params.alt}}</th>
            {{- end -}}
            <th scope="col">Opcode</th>
            <th scope="col" colspan="3">Available on:</th>
            <th scope="col"># of</th>
            <th scope="col"># of</th>
            <th scope="col" rowspan="2">Addressing Mode</th>
            {{- if isset .Params "altright" -}}
            <th scope="col" rowspan="2">{{.Params.altright}}</th>
            {{- end -}}
        </tr>
        <tr>
            <th><em>(hex)</em></th>
            <th>6502</th>
            <th>65C02</th>
            <th>65816</th>
            <th>bytes</th>
            <th>cycles</th>
        </tr>
        </thead>
        <tbody>
        {{- range $.Params.codes -}}
        {{- if isset $.Params "op" }}{{ $.Scratch.Set "op" $.Params.op }}{{end -}}
        {{- if isset . "op" }}{{ $.Scratch.Set "op" .op }}{{end -}}
        {{- $op := $.Scratch.Get "op" -}}
        <tr>
            {{- if isset $.Params "src" }}
            <td>{{.src}}</td>
            {{end -}}
            {{- if isset $.Params "dest" }}
            <td>{{.dest}}</td>
            {{end -}}
            <td>{{ partial "6502/instruction.html" (dict "op" $op "mode" .addressing "val" "addr") }}</td>
            {{- if isset $.Params "alt" }}
            <td>{{.alt}}</td>
            {{end -}}
            <td>{{.code}}</td>
            <td>{{ if isset .compatibility "6502" }}x{{end }}</td>
            <td>{{ if isset .compatibility "65c02" }}x{{end }}</td>
            <td>{{ if isset .compatibility "65816" }}x{{end }}</td>
            <td>{{ partial "6502/notablevalue.html" .bytes }}</td>
            <td>{{ partial "6502/notablevalue.html" .cycles }}</td>
            <td>{{ partial "6502/addressmode.html" .addressing }}</td>
            {{- if isset $.Params "altright" }}
            <td>{{.altright}}</td>
            {{end -}}
        </tr>
        {{- end -}}
        </tbody>
    </table>
</div>
{{- else -}}

{{- /* Copy of params */ -}}
{{- $opPrefix := $.Params.op -}}
{{- $codeFormat := "%s %[2]s, %[3]s" -}}
{{- if isset .Params "code_format"}}{{$codeFormat = .Params.code_format }}{{end -}}

{{- /* rows defaults to code_axis but code_dest can replace it */ -}}
{{- $rows := $.Params.code_axis -}}
{{- if isset $.Params "code_dest"}}{{ $rows = $.Params.code_dest }}{{end -}}
{{- $includeOp := isset .Params "code_includeop" -}}
{{- $sourceLabel := "Source" }}{{if isset .Params "code_source"}}{{$sourceLabel = .Params.code_source}}{{end -}}
{{- $destLabel := "Destination" }}{{if isset .Params "code_destination"}}{{$destLabel = .Params.code_destination}}{{end -}}

{{- /* Dicts for valid rows/cols and one containing actual cells. Used so we don't scan too many times */ -}}
{{- $validRows := dict -}}
{{- $validCols := dict -}}
{{- $values := dict -}}

{{- /* Scan opcodes, fill the dicts & calculate rowCount */ -}}
{{- range $lineNo, $dest := $rows -}}
    {{- $lineKey := printf "%d" $lineNo -}}
    {{- range $colId, $src := $.Params.code_axis -}}
        {{- $colKey := printf "%d" $colId -}}
        {{- range $op := $.Params.codes -}}
            {{- /* Form match pattern then compare against op. match overrides op */ -}}
            {{- $opc := printf $codeFormat $opPrefix $dest $src -}}
            {{- $match := $op.op -}}
            {{- if isset $op "match" }}{{$match = $op.match}}{{end -}}

            {{- if eq $opc $match -}}

                {{- /* Mark row and column as valid */ -}}
                {{- $d := dict $lineKey 1 -}}
                {{- $validRows = merge $validRows $d -}}

                {{- $d := dict $colKey 1 -}}
                {{- $validCols = merge $validCols $d -}}

                {{- $cellKey := printf "%d %d" $lineKey $colId -}}
                {{- $d := dict $cellKey $op -}}
                {{- $values = merge $values $d -}}
            {{- end -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $rowCount := len $validRows -}}

<table class="memoryMap3">
    <thead>
    {{- if ne $sourceLabel "" -}}
        <tr>
            <th class="bnone" rowspan="2" colspan="{{if ne $destLabel ""}}2{{else}}1{{end}}"></th>
            <th colspan="{{len $.Params.code_axis}}">{{$sourceLabel}}</th>
        </tr>
    {{- end -}}
    <tr>
        {{- if eq $sourceLabel ""}}<th class="bnone"></th>{{end -}}
        {{- range $colId, $v := $.Params.code_axis -}}
            {{- $colKey := printf "%d" $colId -}}
            {{- if index $validCols $colKey -}}
                <th>{{ $v }}</th>
            {{- end -}}
        {{- end -}}
    </tr>
    </thead>
    <tbody>
    {{- range $lineNo, $dest := $rows -}}
        {{- /* Scan each row, skip if invalid */ -}}
        {{- $lineKey := printf "%d" $lineNo -}}
        {{- $rowValid := index $validRows $lineKey -}}
        {{- if $rowValid -}}
        <tr>
            {{- if eq $lineNo 0 -}}
                {{- if ne $destLabel "" -}}
                    <td class="rotright brtb" rowspan="{{$rowCount}}"><strong>{{$destLabel}}</strong></td>
                {{- end -}}
            {{- end -}}
            <td class="brtb"><strong>{{$dest}}</strong></td>
            {{- range $colId, $src := $.Params.code_axis -}}
                {{- /* Scan each column, skip if invalid */ -}}
                {{- $colKey := printf "%d" $colId -}}
                {{- if index $validCols $colKey -}}
                    {{- /* Get the cell at this position */ -}}
                    {{- $cellKey := printf "%d %d" $lineKey $colId -}}
                    {{- $opcode := index $values $cellKey -}}

                    {{- $col := "" -}}
                    {{- if ne $opcode "" -}}
                        {{- if isset $opcode "colour" }}{{$col = $opcode.colour}}{{end -}}
                    {{- end -}}

                    <td class="brb {{$col}} nowrap">
                        {{- if ne $opcode "" -}}
                        {{- if $includeOp -}}<strong>{{$opcode.op}}</strong><br/>{{- end -}}
                        {{- $opcode.code -}}
                        {{- end -}}
                    </td>
            {{- end -}}

            {{- end -}}
        </tr>
        {{- end -}}
    {{- end -}}
    </tbody>
</table>
<table class="memoryMap3">
    <caption>Opcode Legend</caption>
    <tbody>
    <tr>
        <td class="green blrtb">Register</td>
        <td class="bnone">&nbsp;</td>
        <td class="yellow blrtb">Memory</td>
        <td class="bnone">&nbsp;</td>
        <td class="blue blrtb">Implicit</td>
        <td class="bnone">&nbsp;</td>
        <td class="orange blrtb">Math</td>
        <td class="bnone">&nbsp;</td>
        <td class="darkgreen blrtb">Logic</td>
        <td class="bnone">&nbsp;</td>
        <td class="darkblue blrtb">Flow</td>
        <td class="bnone">&nbsp;</td>
        <td class="red blrtb">Interrupt</td>
        <td class="bnone">&nbsp;</td>
        <td class="grey blrtb">Special</td>
        <td class="bnone">&nbsp;</td>
        <td class="unused blrtb">Undefined</td>
    </tr>
    </tbody>
</table>
{{- end -}}
{{- end -}}
{{- end -}}

{{- if isset $.Params "notes" -}}
<div class="printPageBreakAvoid">
    <h3>Notes:</h3>
    <ol>
        {{- range $.Params.notes }}
        <li>{{.}}</li>
        {{end -}}
    </ol>
</div>
{{- end -}}
