{{- define "z80InstructionDecodeLine" -}}
    {{- $line := split $.d " " -}}
    {{- $def := index $line 0 -}}
    {{- range split $def "" -}}
        {{- if eq . "0" -}}
            <td class="brtb">0</td>
        {{- else if eq . "1" -}}
            <td class="brtb">1</td>
        {{- else if eq . "b" -}}
            <td class="brtb red" colspan="3">b</td>
            {{- $.s.Set "bit" 1 -}}
        {{- else if eq . "c" -}}
            <td class="brtb red" colspan="3">ccc</td>
            {{- $.s.Set "cond" 1 -}}
            {{- $.s.Set "cond3" 1 -}}
        {{- else if eq . "C" -}}
            <td class="brtb red" colspan="2">cc</td>
            {{- $.s.Set "cond" 1 -}}
            {{- $.s.Set "cond2" 1 -}}
        {{- else if eq . "d" -}}
            <td class="brtb green" colspan="2">dd</td>
            {{- $.s.Set "registerD" 1 -}}
        {{- else if eq . "m" -}}
            <td class="brtb green" colspan="2">mm</td>
            {{- $.s.Set "registerM" 1 -}}
        {{- else if eq . "p" -}}
            <td class="brtb green" colspan="2">pp</td>
            {{- $.s.Set "registerP" 1 -}}
        {{- else if eq . "q" -}}
            <td class="brtb green" colspan="2">qq</td>
            {{- $.s.Set "registerQ" 1 -}}
        {{- else if eq . "r" -}}
            <td class="brtb green" colspan="3">r</td>
            {{- $.s.Set "register" 1 -}}
        {{- else if eq . "R" -}}
            <td class="brtb green" colspan="3">r'</td>
            {{- $.s.Set "register" 1 -}}
        {{- else if eq . "D" -}}
            <td class="brtb brown">D</td>
        {{- else if eq . "L" -}}
            <td class="brtb red">L</td>
        {{- else if eq . "Q" -}}
            <td class="brtb green" colspan="2">QQ</td>
        {{- else -}}
            <td class="brtb orange">{{.}}</td>
        {{- end -}}
    {{- end -}}
    {{- with index $line 1 -}}<td class="bnone">{{.}}</td>{{end -}}
{{- end -}}

{{- define "z80Instruction8bit" -}}
<td class="brtb {{.c}}" colspan="8">{{.l}}</td>
{{- end -}}

{{- define "z80Instruction16bit" -}}
<td class="bt {{.c}}"><span class="left">7</span></td><td class="btb {{.c}}" colspan="6" rowspan="2">{{.l}}</td><td class="brt {{.c}}"><span class="right">0</span></td></tr>
<tr><td class="bb {{.c}}"><span class="left">15</span></td><td class="brb {{.c}}"><span class="right">8</span></td>
{{- end -}}

{{- $scratch := newScratch -}}

<div class="row">
<div class="col-7">
    {{- with $.Get "operation"}}<p>\({{.|safeHTML}}\)</p>{{end -}}
    {{- with $.Get "overview"}}<p>{{.|safeHTML}}</p>{{end -}}
    {{- $.Inner -}}

    {{- with $def := $.Get "def" -}}
<table class="memoryMap4">
<thead><tr><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th><th>0</th></tr></thead>
<tbody>
    {{- range $linedef := split $def "/" -}}
        <tr>
            {{- $linedef = trim $linedef " " -}}
            {{- if eq $linedef "" -}}<td colspan="8" class="bnone">&nbsp;</td>
            {{- else if eq $linedef "d" -}}
                {{- template "z80Instruction8bit" (dict "c" "orange" "l" "d") -}}
            {{- else if eq $linedef "e-2" -}}
                {{- template "z80Instruction8bit" (dict "c" "orange" "l" "e-2") -}}
            {{- else if hasPrefix $linedef "l " -}}
                <td colspan="8" class="bnone text-left">{{substr $linedef 2}}</td>
            {{- else if eq $linedef "n" -}}
                {{- template "z80Instruction8bit" (dict "c" "blue" "l" "n") -}}
            {{- else if eq $linedef "nn" -}}
                {{- template "z80Instruction16bit" (dict "c" "blue" "l" "nn") -}}
            {{- else if eq $linedef "(nn)" -}}
                {{- template "z80Instruction16bit" (dict "c" "yellow" "l" "nn") -}}
            {{- else if hasPrefix $linedef "q " -}}
                <td colspan="8" class="bnone text-left">\({{substr $linedef 2 |safeHTML}}\)</td>
            {{- else -}}
                {{- template "z80InstructionDecodeLine" (dict "d" $linedef "s" $scratch) -}}
            {{- end -}}
        </tr>
    {{- end -}}
</tbody></table>
    {{- end -}}
</div>
<div class="col-4">
    {{- with $scratch.Get "register" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Register</th><th>r</th></tr></thead>
        <tbody>
        <tr><td>A</td><td>111</td></tr>
        <tr><td>B</td><td>000</td></tr>
        <tr><td>C</td><td>001</td></tr>
        <tr><td>D</td><td>010</td></tr>
        <tr><td>E</td><td>011</td></tr>
        <tr><td>H</td><td>100</td></tr>
        <tr><td>L</td><td>101</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "registerD" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Pair</th><th>dd</th></tr></thead>
        <tbody>
        <tr><td>BC</td><td>00</td></tr>
        <tr><td>DE</td><td>01</td></tr>
        <tr><td>HL</td><td>10</td></tr>
        <tr><td>SP</td><td>11</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "registerM" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Pair</th><th>mm</th></tr></thead>
        <tbody>
        <tr><td>BC</td><td>00</td></tr>
        <tr><td>DE</td><td>01</td></tr>
        <tr><td>IY</td><td>10</td></tr>
        <tr><td>SP</td><td>11</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "registerP" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Pair</th><th>pp</th></tr></thead>
        <tbody>
        <tr><td>BC</td><td>00</td></tr>
        <tr><td>DE</td><td>01</td></tr>
        <tr><td>IX</td><td>10</td></tr>
        <tr><td>SP</td><td>11</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "registerQ" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Pair</th><th>qq</th></tr></thead>
        <tbody>
        <tr><td>BC</td><td>00</td></tr>
        <tr><td>DE</td><td>01</td></tr>
        <tr><td>HL</td><td>10</td></tr>
        <tr><td>AF</td><td>11</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "cond" -}}
    <table class="memoryMap3">
        <caption>Conditions</caption>
        <thead>
        <tr>
            {{- with $scratch.Get "cond2" -}}
            <th>cc</th>
            {{- end -}}
            {{- with $scratch.Get "cond3" -}}
            <th>ccc</th>
            {{- end -}}
            <th>Abbrev</th>
            <th>Condition</th>
            <th>Flag</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {{- with $scratch.Get "cond2" -}}<td>00</td>{{- end -}}
            {{- with $scratch.Get "cond3" -}}<td>000</td>{{- end -}}
            <td>NZ</td>
            <td>Non Zero</td>
            <td rowspan="2">Z</td>
        </tr>
        <tr>
            {{- with $scratch.Get "cond2" -}}<td>01</td>{{- end -}}
            {{- with $scratch.Get "cond3" -}}<td>001</td>{{- end -}}
            <td>Z</td>
            <td>Zero</td>
        </tr>
        <tr>
            {{- with $scratch.Get "cond2" -}}<td>10</td>{{- end -}}
            {{- with $scratch.Get "cond3" -}}<td>010</td>{{- end -}}
            <td>NC</td>
            <td>No Carry</td>
            <td rowspan="2">C</td>
        </tr>
        <tr>
            {{- with $scratch.Get "cond2" -}}<td>11</td>{{- end -}}
            {{- with $scratch.Get "cond3" -}}<td>011</td>{{- end -}}
            <td>C</td>
            <td>Carry</td>
        </tr>
        {{- with $scratch.Get "cond3" -}}
        <tr>
            {{- with $scratch.Get "cond2" -}}<td rowspan="4" class="bnone">&nbsp;</td>{{- end -}}
            <td class="bl">100</td>
            <td>PO</td>
            <td>Parity Odd</td>
            <td rowspan="2">P/V</td>
        </tr>
        <tr>
            <td>101</td>
            <td>PE</td>
            <td>Parity Even</td>
        </tr>
        <tr>
            <td>110</td>
            <td>P</td>
            <td>Sign Positive</td>
            <td rowspan="2">S</td>
        </tr>
        <tr>
            <td>111</td>
            <td>M</td>
            <td>Sign Negative</td>
        </tr>
        {{- end -}}
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "bit" -}}
    <table class="memoryMap3">
        <caption>Bits</caption>
        <thead><tr><th>Bit</th><th>b</th></tr></thead>
        <tbody>
        <tr><td>0</td><td>000</td></tr>
        <tr><td>1</td><td>001</td></tr>
        <tr><td>2</td><td>010</td></tr>
        <tr><td>3</td><td>011</td></tr>
        <tr><td>4</td><td>100</td></tr>
        <tr><td>5</td><td>101</td></tr>
        <tr><td>6</td><td>110</td></tr>
        <tr><td>7</td><td>111</td></tr>
        </tbody>
    </table>
    {{- end -}}</div>
</div>
