{{- define "z80InstructionDecodeLine" -}}
    {{- $line := split $.d " " -}}
    {{- $def := index $line 0 -}}
    {{- range split $def "" -}}
        {{- if eq . "0" }}<td class="brtb">0</td>{{end -}}
        {{- if eq . "1" }}<td class="brtb">1</td>{{end -}}
        {{- if eq . "d" -}}
            <td class="brtb green" colspan="2">dd</td>
            {{- $.s.Set "register16" 1 -}}
        {{- end -}}
        {{- if eq . "r" -}}
            <td class="brtb green" colspan="3">r</td>
            {{- $.s.Set "register" 1 -}}
        {{- end -}}
        {{- if eq . "R" -}}
            <td class="brtb green" colspan="3">r'</td>
            {{- $.s.Set "register" 1 -}}
        {{- end -}}
    {{- end -}}
    {{- with index $line 1 -}}<td class="bnone">{{.}}</td>{{end -}}
{{- end -}}

{{- define "z80Instruction8bit" -}}
<td class="brtb {{.c}}" colspan="8">{{.l}}</td>
{{- end -}}

{{- define "z80Instruction16bit" -}}
<td class="bt {{.c}}"><span class="left">7</span></td><td class="btb {{.c}}" colspan="6" rowspan="2">{{.l}}</td><td class="brt {{.c}}"><span class="right">0</span></td></tr>
<tr><td class="bb {{.c}}"><span class="left">15</span></td><td class="brb {{.c}}"><span class="right">8</span></td>
{{- end -}}

{{- $scratch := newScratch -}}

<div>
    {{- with $.Get "operation"}}<p>\({{.|safeHTML}}\)</p>{{end -}}
    {{- with $.Get "overview"}}<p>{{.|safeHTML}}</p>{{end -}}
    {{- $.Inner -}}

    {{- with $def := $.Get "def" -}}
<table class="memoryMap4">
<thead><tr><th>7</th><th>6</th><th>5</th><th>4</th><th>3</th><th>2</th><th>1</th><th>0</th></tr></thead>
<tbody>
    {{- range $linedef := split $def "/" -}}
        <tr>
            {{- $linedef = trim $linedef " " -}}
            {{- if eq $linedef "d" -}}
                {{- template "z80Instruction8bit" (dict "c" "orange" "l" "d") -}}
            {{- else if eq $linedef "n" -}}
                {{- template "z80Instruction8bit" (dict "c" "blue" "l" "n") -}}
            {{- else if eq $linedef "nn" -}}
                {{- template "z80Instruction16bit" (dict "c" "blue" "l" "nn") -}}
            {{- else if eq $linedef "(nn)" -}}
                {{- template "z80Instruction16bit" (dict "c" "yellow" "l" "nn") -}}
            {{- else -}}
                {{- template "z80InstructionDecodeLine" (dict "d" $linedef "s" $scratch) -}}
            {{- end -}}
        </tr>
    {{- end -}}
</tbody></table>
    {{- end -}}

    {{- with $scratch.Get "register" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Register</th><th>r</th></tr></thead>
        <tbody>
        <tr><td>A</td><td>111</td></tr>
        <tr><td>B</td><td>000</td></tr>
        <tr><td>C</td><td>001</td></tr>
        <tr><td>D</td><td>010</td></tr>
        <tr><td>E</td><td>011</td></tr>
        <tr><td>H</td><td>100</td></tr>
        <tr><td>L</td><td>101</td></tr>
        </tbody>
    </table>
    {{- end -}}

    {{- with $scratch.Get "register16" -}}
    <table class="memoryMap3">
        <caption>Registers</caption>
        <thead><tr><th>Pair</th><th>dd</th></tr></thead>
        <tbody>
        <tr><td>BC</td><td>00</td></tr>
        <tr><td>DE</td><td>01</td></tr>
        <tr><td>HL</td><td>10</td></tr>
        <tr><td>SP</td><td>11</td></tr>
        </tbody>
    </table>
    {{- end -}}

</div>
