
.printPageBreak {
  break-before: page;
  page-break-before: always;
}

.printPageBreakLeft {
  break-before: left;
  page-break-before: left;
}

.printPageBreakRight {
  break-before: right;
  page-break-before: right;
}

.printPageBreakAuto {
  break-inside: auto;
  page-break-before: auto;
}

.printPageBreakAvoid {
  break-inside: avoid;
  page-break-inside: avoid;
  break-after: avoid;
  page-break-after: avoid;
}
