
.list-index-generated {
  list-style-type: none;
  // Override bootstrap so toc is compact
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  font-size: 0.8rem;
  columns: 2;
}

.list-alphabet-element,
.list-index-element {
  list-style: none;
}

.list-alphabet-element {
  font-weight: bold;
  border-bottom: 1px solid grey;
  margin-top: 0.25rem;
}

.link-page a::after {
  content: target-counter(attr(href url), page);
}

.link-page::after {
  content: ", ";
}

.link-page:last-of-type::after {
  content: none;
}

.index-value::after {
  content: " – ";
}
