// Attempt for page number handling

@media print {

  body.pagedjs {
    // This overrides bootstrap so an A4 page actually fits an A4 page
    // and not reduced by ~79%
    min-width: auto !important;
  }

  @page {
    //size: A4 portrait;
    size: 210mm 297mm;
    margin-top: 1cm;
    margin-bottom: 1cm;
    /* uncomment to include a visualisation of the available area on the page
    border-top: 1px dashed red;
    border-bottom: 1px dashed red;
    border-right: 1px dashed grey;
    border-left: 1px dashed grey;
     */
  }

  @page :left {
    margin-left: 0.5cm;
    margin-right: 2.5cm;
  }

  @page :right {
    margin-left: 2.5cm;
    margin-right: 0.5cm;
  }

}
