{{- $s := slice "X" "N" "Z" "V" "C" -}}
<tr>
    <th class="align-top">Flags:</th>
    <td class="bnone text-left align-top font-normal">
        <table class="memoryMap4">
            <thead>
            <tr>
                {{- range $s -}}
                <th>{{.}}</th>
                {{- end -}}
            </tr>
            </thead>
            <tbody>
            <tr>
                {{- range $s -}}
                <td class="brtb">{{- with $.Get .}}*{{else}}U{{end -}}</td>
                {{- end -}}
            </tr>
            </tbody>
        </table>
        {{- range $s -}}
        <div>{{.}} {{with $.Get .}}{{.}}{{else}}Undefined{{end -}}</div>
        {{- end -}}
        {{.Inner}}
    </td>
</tr>
