---
type: "_default"
title: "Video Generation & Manipulation"
linkTitle: "Video"
---

{{< blocks/cover title="Video Production & Manipulation" image_anchor="smart" height="min" >}}
<p class="lead mt-1">
    Notes on creating or manipulating videos, mostly on the command line
</p>

{{< /blocks/cover >}}

{{< blocks/section >}}

{{% blocks/feature icon="fa-video" title="Timelapse Video Creation" url="/video/timelapse/" colour="bg-success" %}}
<p>
    Generating timelapse videos from either a camera or generated frames using ffmpeg
</p>
{{% /blocks/feature %}}

{{% blocks/feature icon="fa-video" title="Transcoding" url="/video/transcode/" colour="bg-success" %}}
<p>
    Transcoding videos including resizing videos
</p>
{{% /blocks/feature %}}

{{< /blocks/section >}}
